@keyframes heartbeat {
    from {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

@keyframes cup {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@keyframes shoe {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}