@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/tiny-slider';
@import 'libs/animate';
@import 'base/variables';
@import 'base/animations';

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Museo Sans Cyrl', serif;
  outline: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 991px) {
    padding: 0 15px;
  }
}


@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';